<div class="header-title full-screen-title white" style="background-image:url(/images/hd-13.jpg);">
    <div class="overlaybox">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Olcan Construction</h1>
                <p>Welcome to Olcan Construction</p>
            </div>
        </div>
    </div>
</div>
