<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                  <h1><%= title %></h1>
                  <p><%= description %></p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b">
                    <li><a href="/">Home</a></li>
                    <li class="active"><%= title %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
