<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">

<title>Olcan Construction</title>

<meta name="author" content="Shane Barry">
<meta name="description" content="Welcome to olcan Construction">
<meta name="keywords" content="Construction,Commercial,Residential,Labor,Tools,Projects">

<% css.forEach(function(src){ %>
    <link type="text/css" rel="stylesheet" href="<%= src %>">
    <% }) %>
