<div class="section-empty section-item bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="title-base text-left">
                    <hr />
                    <h2>Our history</h2>
                    <p>Learn about our background and history</p>
                </div>
                <p>
                    Olcan Construction was founded by Olcan McMahon in 2012. Originally from Ireland,
                    Olcan moved to the Bay Area in 2002 and worked across numerous
                    verticals in the construction industry before starting Olcan
                    Construction as a General Contractor. Olcan Construction prioritises
                    being clean and tidy whilst remaining on time and on budget.
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/450x450" alt="Team photo">
            </div>
        </div>
    </div>
</div>
