<div class="section-empty section-item bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="title-base text-left">
                    <hr />
                    <h2>Our history</h2>
                    <p>Learn about our background and history</p>
                </div>
                <p>
                    Proactively architect world-class best practices without 24/365 growth strategies.
                    Quickly integrate interactive infrastructures and extensible
                    content. Holisticly engage world-class interfaces via an expanded
                    array of solutions. Seamlessly reinvent collaborative outsourcing
                    and multimedia based solutions. Intrinsicly foster B2C users
                    rather than interoperable experiences.
                </p>
            </div>
            <div class="col-md-4">
              <img src="https://via.placeholder.com/450x450" alt="Team photo">
            </div>
        </div>
    </div>
</div>
