<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="title-base text-center">
                    <hr />
                    <h2>Our team</h2>
                    <p>The team behind Olcan Construction</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advs-box advs-box-side-img advs-box-blog boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="img-box">
                                            <img class="anima" src="https://via.placeholder.com/210x160" alt="" />
                                        </a>
                        </div>
                        <div class="col-md-8">
                            <h2><a>Olcan McMahon</a></h2>
                            <hr>
                            <div class="tag-row icon-row">
                                <span><i class="im-user"></i><a>Owner</a></span>
                            </div>
                            <p>
                                Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt,
                                augue consectetuer delectus! Molestias? Illum quas
                                deleniti
                            </p>
                        </div>
                    </div>
                </div>`
            </div>
            <div class="col-md-6">
                <div class="advs-box advs-box-side-img advs-box-blog boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="img-box">
                                            <img class="anima" src="https://via.placeholder.com/210x160" alt="" />
                                        </a>
                        </div>
                        <div class="col-md-8">
                            <h2><a>Team member 2</a></h2>
                            <hr>
                            <div class="tag-row icon-row">
                                <span><i class="im-user"></i><a>Project manager</a></span>
                            </div>
                            <p>
                                Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt,
                                augue consectetuer delectus! Molestias? Illum quas
                                deleniti
                            </p>
                        </div>
                    </div>
                </div>`
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advs-box advs-box-side-img advs-box-blog boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="img-box">
                                            <img class="anima" src="https://via.placeholder.com/210x160" alt="" />
                                        </a>
                        </div>
                        <div class="col-md-8">
                            <h2><a>Team member 3</a></h2>
                            <hr>
                            <div class="tag-row icon-row">
                                <span><i class="im-user"></i><a>Foreman</a></span>
                            </div>
                            <p>
                                Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt,
                                augue consectetuer delectus! Molestias? Illum quas
                                deleniti
                            </p>
                        </div>
                    </div>
                </div>`
            </div>
            <div class="col-md-6">
                <div class="advs-box advs-box-side-img advs-box-blog boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="img-box">
                                            <img class="anima" src="https://via.placeholder.com/210x160" alt="" />
                                        </a>
                        </div>
                        <div class="col-md-8">
                            <h2><a>Team member 4</a></h2>
                            <hr>
                            <div class="tag-row icon-row">
                                <span><i class="im-user"></i><a>carpenter</a></span>
                            </div>
                            <p>
                                Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt,
                                augue consectetuer delectus! Molestias? Illum quas
                                deleniti
                            </p>
                        </div>
                    </div>
                </div>`
            </div>
        </div>
    </div>
</div>
