<div class="section-empty section-item">
    <div class="container content">
        <h2>Have a question? Contact us now</h2>
        <hr class="space m" />
        <div class="row">
            <div class="col-md-8">
                <p>We're happy to answer any questions and provide a free estimate
                    for your project.</p>
            </div>
            <div class="col-md-4 text-right">
                <a href="/contact" class="btn btn-sm">Request a free estimate</a>
            </div>
        </div>
    </div>
</div>
