<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-3">
                <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                    <a class="img-box"><img class="anima" src="<%= common.assets %>/residential.jpg" alt="Residential feature"/> </a>
                    <div class="advs-box-content">
                        <h3>Residential</h3>
                        <p>Residential construction services</p>
                        <a class="btn btn-sm" href="/services">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                  <a class="img-box"><img class="anima" src="<%= common.assets %>/commercial.jpg" alt="Commercial feature" /> </a>
                    <div class="advs-box-content">
                        <h3>Commercial</h3>
                        <p>Commercial construction services</p>
                        <a class="btn btn-sm" href="/services">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                  <a class="img-box"><img class="anima" src="<%= common.assets %>/remodel.jpg" alt="Remodel feature" /> </a>
                    <div class="advs-box-content">
                        <h3>Remodels</h3>
                        <p>Complete home remodeling services</p>
                        <a class="btn btn-sm" href="/services">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate"
                    data-trigger="hover">
                  <a class="img-box"><img class="anima" src="<%= common.assets %>/retrofit.jpg" alt="" /> </a>
                    <div class="advs-box-content">
                        <h3>Retrofit</h3>
                        <p>Complete earthquake retrofit services</p>
                        <a class="btn btn-sm" href="/services">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
