<div class="section-bg-image parallax-window white" data-natural-height="1080"
                                                    data-natural-width="1920" data-parallax="scroll" data-image-src="<%= common.assets %>/build_together.jpg">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-6 text-left-xs">
                <h2 class="text-color">Lets build together</h2>
                <p>
                  Reach out to us today to get started on your project. 
                </p>
                <hr class="space" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box icon-box-top-bottom counter-box-icon text-left">
                            <div class="icon-box-cell">
                                <i class="im-wrench text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <b><label class="counter text-l  text-color" data-speed="2000" data-to="23"></label></b>
                                <p class="text-s">YEARS EXPERIENCE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-box icon-box-top-bottom counter-box-icon text-left">
                            <div class="icon-box-cell">
                                <i class="im-engineering text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <b><label class="counter text-l text-color" data-speed="2000" data-to="37"></label></b>
                                <p class="text-s">PROJECTS COMPLETED</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-left-xs">
                <a href="/contact" class="btn btn-border btn-lg">Contact us</a>
            </div>
        </div>
    </div>
</div>
