<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="preloader"></div>
    <% include ../components/header/header %>
        <% include ../components/contact/contact-content %>
            <% include ../components/footer/footer %>
</body>

</html>
