<div class="section-empty section-item bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="title-base text-left">
                    <hr />
                    <h2>Commercial Services</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Homes</h3>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio, rep ta fusceod tempor incididunt
                        utlabore et doasprio martisio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
