<div class="section-empty section-item bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="title-base text-left">
                    <hr />
                    <h2>Commercial Services</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-post-office icon circle"></i>
                    <h3>Retail Store Fronts</h3>
                    <p>
                      Commercial upgrades and remodels to retail store fronts.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-plates icon circle"></i>
                    <h3>Bar & Restaurant Remodels</h3>
                    <p>
                      Bar and restaurant remodels are one of our specialized services.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-office icon circle"></i>
                    <h3>Office Buildings</h3>
                    <p>
                      Whether for a start up or a fortune 500 we handle commercial office building projects.
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-mic icon circle"></i>
                    <h3>Studios</h3>
                    <p>
                      We upgrade music studios with the latest acoustic and soundproofing tech.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-warehouse icon circle"></i>
                    <h3>Commercial Remodels</h3>
                    <p>
                      Reach out to us for large or small scale commercial grade projects.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-structure icon circle"></i>
                    <h3>Tenant Improvements</h3>
                    <p>
                      Commercial and industrial property tenant improvements.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
