<div class="section-empty section-item bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="title-base text-left">
                    <hr />
                    <h2>Residential Services</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home icon circle"></i>
                    <h3>Single Family Homes</h3>
                    <p>
                      We are experienced in single family remodels and new builds.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-building icon circle"></i>
                    <h3>Multi Unit Buildings</h3>
                    <p>
                      Large multi unit remodels are a large part of our skillset and services offered.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-home-2 icon circle"></i>
                    <h3>Remodels</h3>
                    <p>
                      Upgrading your property with a remodel will increase its value and boost your quality of life. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-drill icon circle"></i>
                    <h3>Kitchens</h3>
                    <p>
                      We take care of plans, design and construction to make your dream kitchen.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-drop icon circle"></i>
                    <h3>Bathrooms</h3>
                    <p>
                      Upgrade you bathroom or ensuite with the latest design trends.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advs-box advs-box-top-icon boxed text-left" data-href="">
                    <i class="im-loudspeaker icon circle"></i>
                    <h3>Acoustic Ceilings</h3>
                    <p>
                      We also specialize in acoustic ceilings, sound proofing and sound mitigation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
